.content{
    padding-top: 50px;
    padding-right: 70px;
    padding-left: 70px;
}

.col1{
    padding-right: 70px;
}


.find{
    text-align: end ;
    width: 35%;
    border: none !important;
    border-bottom: 1px solid !important;
    padding-bottom: 5px;
}

@media only screen and (max-width: 738px) {
    .logo {
      width: 33% !important;
    }
  }